@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient( #2E0249, #570A57);
    font-size: 18px;
    color: #F806CC;
    position: relative;
    top: 110px;
}